@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Design {
  border: solid 1.4px #a300f4;
}
.Development {
  border: solid 1.4px #12b76a;
}
.Product {
  border: solid 1.4px #3d24f6;
}
.Marketing {
  border: solid 1.4px #ff1616;
}
.Business {
  border: solid 1.4px #00dbc2;
}
.Operation {
  border: solid 1.4px #ebbc00;
}
